<!DOCTYPE html>
<html>
<head>
    <title>Zoe's Pizza Shop</title>
    <style>
    h1 {
      text-shadow: 2px 2px pink;
    }
    body {
      background-image: url("sloth.jpeg");
      background-size: cover;
      color: green;
      font-family: sans-serif;
      font-size: 20px;
    }
    </style>
</head>
<body>
<form name="pizza">
  <h1>Zoe's Pizza Shop</h1>
  <h2 style="font size:60px"><em>Customer Information</em></h2>
  <table border="5" width="400" height="200">
    <tr>
      <th>First Name</th>
      <td><input type="text" name="first name"></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><input type="text" name="last name"></td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td><input type="text" name="phone number"></td>
    </tr>
    <tr>
      <th>Street Address</th>
      <td><input type="text" name="street address"></td>
    </tr>
  </table>
  <h3 style="font size:100px"><em>Delivery Options</em></h3>
    <input type="radio" name="Delivery" value="magic"> Delivery
    <input type="radio" name="Delivery" value="magic"> Pickup
    <input type="radio" name="Delivery" value="magic"> Dine-in
  <h4 style="font size:100px"><em>Crust Style</em></h4>
    <input type="radio" name="Delivery" value="magic"> Crunchy
    <input type="radio" name="Delivery" value="magic"> Stuffed Crust
    <input type="radio" name="Delivery" value="magic"> Soft
    <input type="radio" name="Delivery" value="magic"> Seasoned
  <h5 style="font size:100px"><em>Toppings</em></h5>
    <input type="checkbox" name="mushrooms" value="mushrooms"> Mushrooms
    <input type="checkbox" name="pepperoni" value="pepperoni"> Pepperoni
    <input type="checkbox" name="sausage" value="sausage"> Sausage
    <input type="checkbox" name="spinach" value="tomatoes"> Tomatoes
    <input type="checkbox" name="anchovies" value="anchovies"> Anchovies
    <input type="checkbox" name="extra cheese" value="extra cheese"> Extra Cheese
    <input type="checkbox" name="pineapple" value="pineapple"> Pineapple
  <h5 style="font size:100px"><em>Pizza Size</em></h5>
    <label for="size">Pizza Size:</label>
    <select name="choices" id="days" size="1">
      <option value="Small">Small</option>
      <option value="Medium">Medium</option>
      <option value="Large">Large</option>
      <option value="Extra Large">Extra Large</option>
    </select>
  <h6 style="font size:100px"><em>Delivery</em></h6>
    <textarea name="Delivery Instructions" rows="5" cols="50"></textarea>
  <h7 style="font size:100px"><em>Credit Card Information</em></h7>
    <tr>
      <td><input type="text" name="Credit Card:"></td>
    </tr>
  <h8 style="font size:100px"><em>Tip Amount</em></h8>
      <input type="radio" name="Delivery" value="magic"> 15%
      <input type="radio" name="Delivery" value="magic"> 18%
      <input type="radio" name="Delivery" value="magic"> 20%
      <input type="submit" value="Submit Order"></input>
      <input type="reset" value="Clear">
  </form>
</body>
</html>
<!-- Professor Kruse, 10/16/22, IT 105 -->
